body {
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
    width: auto;
}
/* -- Top Nav Bar -- */
.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensures it's on top of other content */
    transition: background-color 0.3s ease, opacity 0.3s ease; /* Smooth transition for opacity change */
    background-color: rgba(255, 255, 255);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.left {
    display: flex;
    margin-left: 10px;
}

.home-link {
    text-decoration: none;
    color: #000;
    font-weight: 800;
    font-size: 30px;
    color: #437FC7;
    cursor: pointer;
}

.right {
    display: flex;
    transition: color 0.3s ease;
}

.right a {
    text-decoration: none;
    color: #437FC7;
    font-weight: 500;
    margin-right: 40px; /* Add space between links */
    transition: color 0.3s ease; /* Smooth transition for link color change */
}

.right a:hover{
    color: #34526f;
    transform: scale(1.1);
    transition: transform .2s;
    cursor: pointer;
}

.sep {
    margin-right: 0; /* Remove margin from the last link */
    text-decoration: none;
    cursor: default;
}

.right {
    justify-content: center; /* Center-align the links */
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1874d2;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it's above other content */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

@keyframes circle-out-center {
    from {
      clip-path: circle(0%);
    }
    to {
      clip-path: circle(125%);
    }
  }
  
  [transition-style="out:circle:center"] {
    animation: 2.5s cubic-bezier(.25, 1, .30, 1) circle-out-center both;
  }

/* Styles for the loading spinner */
.spinner {
    width: 400px;
    height: 300px;
    background-image: url('assets/loading2.gif');
    background-size: cover;
}

/* -- Content -- */

.content {
    display: flex;
    padding: 50px 50px 0px 50px;
}

.left-content {
    flex: 1;
}

.left-content img {
    width: 100%;
    height: auto;
}

.right-content {
    margin-top: 100px;
    flex: 1;
    padding-left: 50px;
    color: #333;
}

.separator {
    width: 100%;
    height: 3px;
    margin: 20px 0;
    background: linear-gradient(to right, #437FC7, #FFF);
}

.right-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.right-content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.right-content p {
    font-size: 18px;
}

.blue-text {
    color: #437FC7;
}

.button-and-contacts {
    display: flex;
    align-items: center; /* Align items vertically */
    margin-top: 40px;
}

.view-work {
    background-color: #437FC7;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 50%;
    cursor: pointer; 
    text-decoration: none; 
    font-family: "Poppins", sans-serif;
    height: 50px;
}


.view-work:hover{
    background-color: #34526f;
    transform: scale(1.05);
    transition: transform .2s;
}

.contact {
    display: flex;
    align-items: center; 
}

.contact img {
    width: 30px; 
    height: 30px; 
    margin-right: 20px; 
}

.contact img:hover{
    filter: brightness(50%);
    cursor: pointer;
    transform: scale(1.2);
    transition: transform .2s;
}

/* -- Education -- */

.education-card {
    display: grid;
    place-items: center;
    padding-block: 5rem;
}

.title {
    display: grid;
    place-items: center;
}

.title h2 {
    color: #437FC7;
    font-size: 48px;
}

.title h2:hover {
    color: #34526f;
    transition: color 0.3s ease;
    cursor: default;
}

.cards-container {
    display: flex;
    justify-content: space-around;
}

.card {
    width: 330px;
    padding: 40px;
    border: 1px solid #ccc; 
    border-radius: 1rem; 
    box-shadow: 0 0 5px #a8abb6; 
    margin: 40px; /* Add margin to create space between cards */
}

.card img {
    width: 80px;
    height: 80px;
    margin: 0 auto; /* Center image horizontally */
    display: block; /* Ensure image is centered */
    margin-top: 15px;
}

.card .details {
    text-align: center; 
}

.card h2 {
    color: #333;
}

.card h2:hover {
    color: #0018b5;
    cursor: default;
    transition: color 0.3s ease;
}

.card p {
    color: #666;
    font-size: medium;
}

.card p:hover {
    color: #00d251;
    cursor: default;
    transition: color 0.3s ease;
}

/* -- Experiences -- */
.experiences {
    display: grid;
    place-items: center;
    margin-inline: 1.5rem;
    padding-block: 5rem;
}

.card__container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.card__article {
    position: relative;
    overflow: hidden;
    padding: 60px;
}

.card__img {
    width: 100%;
    max-width: 500px;
    border: 1px solid #ccc; 
    border-radius: 1rem; 
    box-shadow: 0 0 5px #a8abb6; 
}

.card__data {
    width: 100%;
    max-width: 300px;
    background-color: #FFF;
    padding: 1.5rem 2rem;
    box-shadow: 0 8px 24px hsla(0, 0%, 0%, 0.15);
    border-radius: 1rem;
    position: absolute;
    bottom: -9rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    opacity: 0;
    transform: opacity 1s 1s;
}

.card__description {
    display: block;
    font-size: clamp(12px, 2vw, 16px); /* Adjust font size dynamically */
    margin-bottom: .25rem;
    color: #333;
    font-weight: 500;
}

.card__title {
    font-size: clamp(20px, 3vw, 24px); /* Adjust font size dynamically */
    font-weight: 600;
    color: #437FC7;
    margin-bottom: .75rem;
}

.card__button {
    text-decoration: none;
    font-size: clamp(14px, 2vw, 16px); /* Adjust font size dynamically */
    font-weight: 400;
    color: #333;
}

@media (max-width: 768px) {
    .card__img {
        max-width: 300px; /* Smaller max width for tablets */
    }

    .card__data {
        max-width: 250px; /* Smaller max width for tablets */
        padding: 1rem 1.5rem; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    .card__img {
        max-width: 200px; /* Smaller max width for mobile */
    }

    .card__data {
        max-width: 200px; /* Smaller max width for mobile */
        padding: 0.75rem 1rem; /* Adjust padding */
    }
}

@media (max-width: 480px) {
    .card__data {
        width: 100%;
        max-width: 200px;
        padding: 1rem 1.5rem;
    }

    .card__description {
        font-size: small;
    }

    .card__title {
        font-size: 20px;
    }

    .card__button {
        font-size: small;
    }
}

.card__button:hover {
    text-decoration: underline;
}

.card__article:hover .card__img {
    filter: brightness(80%);
}

.card__article:hover .card__data,
.card__article:focus .card__data {
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity .3s;
}

.card__article:hover,
.card__article:focus {
    animation: remove-overflow 2s forwards;
    outline: none; /* Remove default focus outline */
}

/* .card__article:not(:hover) {
    animation: show-overflow 2s forwards;
}

.card__article:not(:hover) .card__data {
    animation: remove-data 2s forwards;
} */

@keyframes show-data {
    50%{
        transform: translateY(-10rem);
    }
    100%{
        transform: translateY(-8rem);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }
    50% {
        transform: translateY(-10rem);
    }
    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/* -- What I Do --  */

.content1,
.content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px; /* Adjust margin as needed */
    margin-bottom: 80px;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-top: 30px; /* Adjust margin as needed */
}

.icon {
    width: 24px;
    height: 24px;
    margin-right: 20px; /* Adjust margin as needed */
    border-radius: 5px;
    border: #34526f solid 1px;
    padding: 10px;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.content1 img,
.content2 img {
    height: auto;
}

.animated-image {
    width: 1000px; /* Adjust width as needed */
    margin-right: 20px; /* Adjust margin as needed */
    transition: transform 2s ease-in-out;
}

.mobile-img {
    width: 300px; /* Adjust width as needed */
    margin-left: 50px; /* Adjust margin as needed */
    transition: transform 2s ease-out;
}

.content1 .description{
    margin-right: 20px;
}

.content2 .description{
    margin-right: 200px;
}

.what_i_do .description {
    text-align: left;
    position: relative;
}

.what_i_do .description h1 {
    font-size: 48px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
}

.what_i_do .description p {
    font-size: 18px;
    color: #555;
}

/* -- Top Button -- */

.top-btn {
    position: fixed;
    bottom: 20px;
    right: 8px;
    width: 50px; 
    height: 50px; 
    cursor: pointer;
    padding:2px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
    box-shadow: 0 4px 4px rgba(13, 104, 222, 0.1);
    border-radius: 10px;
}

.top-btn:hover {
    opacity: 1;
}

/* -- Additional Styles for Responsiveness -- */
/* Ensures images and videos are responsive */
img, video {
    max-width: 100%;
    height: auto;
}

.tech-skills {
    padding: 0px 50px 0px 50px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 2px 50px;
    position: relative;
}

.skill-icon {
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    margin-right: 30px;
    padding: 8px;
    border: #154d63 2px solid;
    border-radius: 10px;
    cursor: none;
}

.skill-bar {
    display: flex;
    align-items: center;
    height: 40px; /* Adjust height as needed */
    background-color: #cacaca;
    flex-grow: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
    border-radius: 5px;
}

.skill-fill {
    height: 100%;
    background: linear-gradient(to right, #437FC7, #9d43c7);
    border-radius: 5px;
}

.skill-percentage {
    position: absolute;
    right: 10px;
    color: white;
}

.skill-name {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #FFF;
    font-weight: bold;
}

.skill-icon {
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
    margin-right: 30px;
    padding: 8px;
    border: #154d63 2px solid;
    border-radius: 10px;
    transition: transform 0.3s;
}

.skill-icon:hover {
    transform: scale(1.2); 
    cursor: context-menu;
}

.skill-bar {
    height: 20px;
    background-color: #cacaca;
    flex-grow: 1;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    padding: 8px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.skill-fill {
    height: 100%;
    background: linear-gradient(to right, #437FC7, #9d43c7);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0px 10px 10px 0px;
}

.skill-percentage {
    position: absolute;
    right: 10px;
    color: white;
    font-weight: bold;
}

.figma-prototype {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    align-items: center;
    /* Center vertically if needed */
    margin-top: 20px;
    /* Adjust spacing as required */
    width: 100%;
}

.figma-prototype iframe {
    width: 90%;
    /* Adjust width as desired */
    height: 550px;
    /* Fixed height or auto */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    /* Optional: rounded corners */
    margin-bottom: 30px;
}

.video-section {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    padding: 0 20px;
}

.video-section video {
    max-width: 75%;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

}

/* -- Responsive Media Queries -- */
@media (max-width: 768px) {
    /* Adjustments for tablets and below */
    .container {
        flex-direction: column;
        padding: 10px;
    }

    .top-nav {
        padding: 0 10px;
    }

    .left, .right {
        justify-content: center;
        margin-top: 10px;
    }

    .right a {
        margin-right: 20px; /* Less space between links */
    }

    .dropdown-content {
        left: 0; /* Align dropdown to the center */
    }

    .content {
        flex-direction: column;
        padding: 20px;
    }

    .right-content {
        margin-top: 20px;
        padding-left: 0;
    }

    .button-and-contacts {
        flex-direction: column;
        align-items: center;
    }

    .view-work {
        margin-right: 0;
        margin-bottom: 20px; /* Space between button and contacts on mobile */
    }

    .cards-container {
        flex-direction: column;
    }

    .card {
        margin-bottom: 20px; /* Space between stacked cards */
    }

    .card__container {
        flex-direction: column;
    }

    .card__img, .card__data {
        width: 100%;
    }

    .content1, .content2 {
        flex-direction: column;
    }

    .animated-image{
        width: 100%; /* Full width on smaller screens */
        margin-right: 0;
    }

    .mobile-img {
        width: 40%; /* Full width on smaller screens */
        margin-left: 0;
    }

    .content1 .description, .content2 .description {
        margin-right: 10px; /* Smaller margin for smaller screens */
    }

    .what_i_do .description h1 {
        font-size: 32px; /* Smaller font size for smaller screens */
    }

    .what_i_do .description p {
        font-size: 16px; /* Smaller font size for smaller screens */
    }
    .video-section {
        margin-top: 150px;
    }
}

@media (max-width: 480px) {
    /* Adjustments for mobile phones */
    .home-link, .right a {
        font-size: 20px; /* Smaller text for smaller screens */
    }

    .right-content h1 {
        font-size: 32px; /* Smaller headings on mobile */
    }

    .right-content h3 {
        font-size: 18px;
    }

    .right-content p, .card p, .what_i_do .description p {
        font-size: 16px; /* Smaller paragraph text */
    }

    .title h2, .card h2 {
        font-size: 30px; /* Smaller titles in cards */
    }

    .card__data {
        width: 200px;
    }

    .card__description {
        font-size: small;
    }
    
    .card__title {
        font-size: 20px;
    }
    
    .card__button {
        font-size: small;
    }
    .content1 .description, .content2 .description {
        margin-right: 5px; /* Even smaller margin for very small screens */
    }

    .what_i_do .description h1 {
        font-size: 24px; /* Even smaller font size for very small screens */
    }

    .what_i_do .description p {
        font-size: 14px; /* Even smaller font size for very small screens */
    }

    .mobile-img {
        width: 200px;
        margin: 0;
        margin-top: 10px;
    }

    .tech-skills {
        padding: 0;
        margin-top: 20px;
        font-size: small;
    }
}
